:root {
  --lm-blue: #0079FF;
  --lm-grey: #697C9A;
  --lm-grey-blue: #4B6A9B;
  --lm-black: #2B3442;
  --lm-off-white: #F6F8FF;
  --lm-white: #FEFEFE;

  --dm-blue: #0079FF;
  --dm-white: #FFFFFF;
  --dm-very-dark-blue: #141D2F;
  --dm-dark-blue: #1E2A47;

  --ff-space-mono: 'Space Mono', monospace;

  font-size: 10px;
  font-family: var(--ff-space-mono);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.6rem;
  line-height: 3.8rem;
}

h2 {
  font-size: 2.2rem;
  line-height: 3.3rem;
}

h3 {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

h4 {
  font-size: 1.3rem;
  line-height: 2.0rem;
}

body {
  max-width: 170rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  background-color: var(--color-light-cream-bg);
}

@media screen and (min-width: 768px) {
  body {
    padding-left: 3.9rem;
    padding-right: 3.9rem;
  }
}

@media screen and (min-width: 1440px) {
  body {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}